<div class="header">
  <img src="/images/header.png" alt="Baseball degrees of separation">
  <p>Search two baseball players and see how they are connected by teams.</p>

</div>
<div class="form-body">
	  <p>Enter Player First and Last Names</p>
	  <div class="form-group row">
	  	<div class="col-5">
        <input name="player1" type="text" class="p1 form-control typeahead" autocomplete="off" placeholder="Player 1">
	     </div>
	     <div class="col-5">
         <input name="player2" type="text" class="p2 form-control typeahead" autocomplete="off" placeholder="Player 2">
       </div>
       <button class="submit-btn btn btn-primary red">Submit</button>
		 </div>
		 <div>
		 </div>
	  </div>
</div>

<div class='results'>
</div>

<p>{{name}}</p>
