<h1>{{title}}</h1>
<p>Search two baseball players and see how they are connected by teams.</p>

<form id='search'>
  <h4>Enter Player First and Last Names</h4>
  <input class="player1" type="text" placeholder="Player 1">
  <input class="player2" type="text" placeholder="Player 2">
  <button type='submit' class='submit-btn'>Search</button>
</form>
